body{
    background-color: #283E4A;
}

a{color: black};

#topo {color: blue;}

table, td, tr {
    color: black;
    font-family: sans-serif;;
};

blockquote[class=quote][cite] { color:#f00; }

p {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

p.info {background-color: blue;}

img.displayed {

    text-align: center;
    
    display: block;

    margin-left: auto;

    margin-right: auto; 

    position:relative; 

    top:0px; 

    left:0px; 

    z-index: 0

}

    h2 { text-align: center }

    ul li {
        color: white;
        font-family: sans-serif;
    }

    img.displayed_perf{

        position:absolute; 
        top:180px; 
        left:600px; 
        z-index: 1;

        border-style: solid;
        border-radius: 100px;
        border-width: 5px;
        border-color: white;

        text-align: center;
    }

    nav{
        display: block;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: smaller;
    }

    #call{
        
        color: black;
        text-align: center;
        font-family: sans-serif;
    
    }

    #call2{

        color: black;
        text-align: left;
        font-family: sans-serif;
    
    }

div{
        display: inline;
        font-size: smaller;
        list-style-type: none;
        text-aligm: center;
    }

    div.menu figcaption{
        display: inline;
        text-align: center;
        font-size: smaller;
        position: bottom;
        font-family: sans-serif;
        color: white;
        margin: 5px 2px 2px 9px;
        vertical-align: text-bottom;
    }

    div.menu{
        background-color: #283E4A;
    }

    div.menu li {
        padding: 2px 10px;
        display: inline-block;
        background-color:#283E4A;
        color: #F0FFFF;
        text-decoration: none;
        font-family: sans-serif;
        font-size: smaller;
        border-bottom:3px solid #283E4A;
        list-style: none;
    }
